<!DOCTYPE html>
<html>
<meta charset="utf-8">

<body>
<style>
h1 {color: #F8F8F8;}
h2 {color: #F8F8F8;}
a { color: #ffd700; } /* CSS link color */

.jumbotron {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}
</style>
<body>

<body style="background-color: #101010 ;">
	<div class="jumbotron" style="background-color: #303030; ">    
		<div class="container" style="height: 230px;">
        <br><br>
        <h1 align="center"><i>Something went wrong!</h1>
        <h2 align="center"><i>Please try again or contact <a href="mailto:kristina.ushakova@outlook.com">tech support</a>.</h2>
        <br><br>
        </div>
    </div>

